[core]
    excludesfile = /home/jeramy/.gitignore
[user]
    name = Jeramy Singleton
    email = jeramyRR@gmail.com
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[init]
    defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    conflictstyle = zdiff3
