[core]
	excludesfile = "/home/jeramy/.config/.gitignore_global"
[user]
	name = Jeramy Singleton
	email = jeramyRR@gmail.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
    useHttpPath = true
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe